{% extends 'base.html.twig' %}

{% block title %}Détail du lien{% endblock %}

{% block body %}
    <h1>Détail du lien</h1>

    <table>
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ lien.titre }}</td>
            </tr>
            <tr>
                <th>URL</th>
                <td>
                    <a href="{{ lien.url }}" target="_blank">
                        {{ lien.url }}
                    </a>
                </td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ lien.description }}</td>
            </tr>
        </tbody>
    </table>

    <div style="margin-top: 20px;">
        <a href="{{ path('app_lien_edit', {id: lien.id}) }}" class="btn btn-primary">
            Modifier
        </a>

        {{ include('lien/_delete_form.html.twig') }}

        <br>
        
        <a href="{{ path('app_lien_index') }}" class="btn btn-secondary">
            ← Retour à la liste
        </a>
    </div>
{% endblock %}
